##############################################
#### GitLab CI Configuration for WindGym #####
##############################################

default:
  image: ghcr.io/prefix-dev/pixi:latest

stages:
  - test
  - build
  - deploy

.default_rules: &default_rules
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "web"  
    - when: never

pre_commit:
  stage: test
  variables:
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit
  script:
    - apt-get update && apt-get install -y git
    - pixi run pre-commit run --all-files
  cache:
    key: pre-commit-cache # Retains cache across all branches
    paths:
      - ${PRE_COMMIT_HOME}
  tags:
    - linux
  <<: *default_rules

#test_linux:
#  stage: test
#  needs:
#    - pre_commit
#  script:
#    - apt-get update && apt-get install -y git
#    - pixi run pytest -v --cov=windgym --cov-report=html:htmlcov --cov-report=term
#  artifacts:
#    paths:
#      - ./htmlcov
#    when: always
#  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
#  tags:
#    - linux
#  <<: *default_rules


build_docs:
  stage: build
  image: node:18
  script:
    - cd docusaurus-site
    - npm install
    - npm run build
  artifacts:
    paths:
      - docusaurus-site/build/
    expire_in: 1 week
  tags:
    - linux
  <<: *default_rules

pages:
  stage: deploy
  needs:
    - build_docs
  script:
    - mkdir public
    - cp -r docusaurus-site/build/* public/
  artifacts:
    paths:
      - public
  only:
    - docusaurus-site # main
  tags:
    - linux


